<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
  <!--<startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>      
    </startup>-->
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICategoriasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IClientesServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IColoresServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IMaestroTallasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IMarcasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IMaterialesServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IModelosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IMonedasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_INivelPrecioServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IProveedoresServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IRazonDescuentoServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ITallasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ITemporadasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ITiposCambioServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IUbigeoServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IUsuariosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IOrdenCompraServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ITipoDePagoServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ILocalServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IProductosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ISubProductoLocalServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IProcesoProductoTallaColor" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IEmpleadosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IComprobanteCompraServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IComprobanteVentaServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IDetalleOrdenCompraServicio"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IFinancistasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IIgvServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ITipoComprobanteServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IImportarProductosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IGuiaTransferenciaServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_INotaCreditoServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ITarjetasFinancierasServicio"
                    maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IPromocionesServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IAreasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_ICargosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IPerfilesServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IInventarioServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IBancosServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IAgenciasServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IConfiguracionServicio" maxReceivedMessageSize="2000000000" />
                <binding name="BasicHttpBinding_IAperturaCierreServicio" maxReceivedMessageSize="2000000000" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.CategoriasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICategoriasServicio"
                contract="servicioCategorias.ICategoriasServicio" name="BasicHttpBinding_ICategoriasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ClientesServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientesServicio"
                contract="servicioClientes.IClientesServicio" name="BasicHttpBinding_IClientesServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ColoresServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IColoresServicio"
                contract="servicioColores.IColoresServicio" name="BasicHttpBinding_IColoresServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.MaestroTallasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaestroTallasServicio"
                contract="servicioMaestroTallas.IMaestroTallasServicio" name="BasicHttpBinding_IMaestroTallasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.MarcasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarcasServicio"
                contract="servicioMarcas.IMarcasServicio" name="BasicHttpBinding_IMarcasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.MaterialesServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMaterialesServicio"
                contract="servicioMateriales.IMaterialesServicio" name="BasicHttpBinding_IMaterialesServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ModelosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IModelosServicio"
                contract="servicioModelos.IModelosServicio" name="BasicHttpBinding_IModelosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.MonedasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMonedasServicio"
                contract="servicioMonedas.IMonedasServicio" name="BasicHttpBinding_IMonedasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.NivelPrecioServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INivelPrecioServicio"
                contract="servicioNivelesPrecio.INivelPrecioServicio" name="BasicHttpBinding_INivelPrecioServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ProveedoresServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProveedoresServicio"
                contract="servicioProveedores.IProveedoresServicio" name="BasicHttpBinding_IProveedoresServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.RazonDescuentoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRazonDescuentoServicio"
                contract="servicioRazonDescuento.IRazonDescuentoServicio"
                name="BasicHttpBinding_IRazonDescuentoServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.TallasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITallasServicio"
                contract="servicioTallas.ITallasServicio" name="BasicHttpBinding_ITallasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.TemporadasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITemporadasServicio"
                contract="servicioTemporadas.ITemporadasServicio" name="BasicHttpBinding_ITemporadasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.TiposCambioServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITiposCambioServicio"
                contract="servicioTipoDeCambio.ITiposCambioServicio" name="BasicHttpBinding_ITiposCambioServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.UbigeoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUbigeoServicio"
                contract="servicioUbigeo.IUbigeoServicio" name="BasicHttpBinding_IUbigeoServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.UsuariosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsuariosServicio"
                contract="servicioUsuarios.IUsuariosServicio" name="BasicHttpBinding_IUsuariosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.OrdenCompraServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdenCompraServicio"
                contract="servicioOrdenDeCompra.IOrdenCompraServicio" name="BasicHttpBinding_IOrdenCompraServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.TipoDePagoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoDePagoServicio"
                contract="servicioTipoDePago.ITipoDePagoServicio" name="BasicHttpBinding_ITipoDePagoServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.LocalServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ILocalServicio"
                contract="servicioLocal.ILocalServicio" name="BasicHttpBinding_ILocalServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ProductosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProductosServicio"
                contract="servicioProductos.IProductosServicio" name="BasicHttpBinding_IProductosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.SubProductoLocalServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISubProductoLocalServicio"
                contract="servicioSubProductoLocal.ISubProductoLocalServicio"
                name="BasicHttpBinding_ISubProductoLocalServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ProcesoProductoTallaColor.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IProcesoProductoTallaColor"
                contract="servicioProcesoProductoTallaColor.IProcesoProductoTallaColor"
                name="BasicHttpBinding_IProcesoProductoTallaColor" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.EmpleadosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmpleadosServicio"
                contract="servicioEmpleados.IEmpleadosServicio" name="BasicHttpBinding_IEmpleadosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ComprobanteCompraServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComprobanteCompraServicio"
                contract="servicioComprobanteCompra.IComprobanteCompraServicio"
                name="BasicHttpBinding_IComprobanteCompraServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ComprobanteVentaServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IComprobanteVentaServicio"
                contract="servicioComprobanteVenta.IComprobanteVentaServicio"
                name="BasicHttpBinding_IComprobanteVentaServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.DetalleOrdenCompraServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDetalleOrdenCompraServicio"
                contract="servicioDetalleOrdenCompra.IDetalleOrdenCompraServicio"
                name="BasicHttpBinding_IDetalleOrdenCompraServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.FinancistasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFinancistasServicio"
                contract="servicioFinancistas.IFinancistasServicio" name="BasicHttpBinding_IFinancistasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.IgvServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IIgvServicio"
                contract="servicioIGV.IIgvServicio" name="BasicHttpBinding_IIgvServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.TipoComprobanteServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITipoComprobanteServicio"
                contract="servicioTipoComprobante.ITipoComprobanteServicio"
                name="BasicHttpBinding_ITipoComprobanteServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ImportarProductosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImportarProductosServicio"
                contract="servicioImportarProductos.IImportarProductosServicio"
                name="BasicHttpBinding_IImportarProductosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.GuiaTransferenciaServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGuiaTransferenciaServicio"
                contract="servicioGuiaTransferencia.IGuiaTransferenciaServicio"
                name="BasicHttpBinding_IGuiaTransferenciaServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.NotaCreditoServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotaCreditoServicio"
                contract="servicioNotaCredito.INotaCreditoServicio" name="BasicHttpBinding_INotaCreditoServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.TarjetasFinancierasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ITarjetasFinancierasServicio"
                contract="servicioTarjetasFinancieras.ITarjetasFinancierasServicio"
                name="BasicHttpBinding_ITarjetasFinancierasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.PromocionesServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPromocionesServicio"
                contract="servicioPromociones.IPromocionesServicio" name="BasicHttpBinding_IPromocionesServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.AreasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAreasServicio"
                contract="servicioAreas.IAreasServicio" name="BasicHttpBinding_IAreasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.CargosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICargosServicio"
                contract="servicioCargos.ICargosServicio" name="BasicHttpBinding_ICargosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.PerfilesServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPerfilesServicio"
                contract="servicioPerfiles.IPerfilesServicio" name="BasicHttpBinding_IPerfilesServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.InventarioServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IInventarioServicio"
                contract="servicioInventario.IInventarioServicio" name="BasicHttpBinding_IInventarioServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.BancosServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBancosServicio"
                contract="servicioBancos.IBancosServicio" name="BasicHttpBinding_IBancosServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.AgenciasServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAgenciasServicio"
                contract="servicioAgencias.IAgenciasServicio" name="BasicHttpBinding_IAgenciasServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.ConfiguracionServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IConfiguracionServicio"
                contract="Configuraciones.IConfiguracionServicio" name="BasicHttpBinding_IConfiguracionServicio" />
            <endpoint address="http://pcprog.ticom.local/wcf_ticom/Servicios.AperturaCierreServicio.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAperturaCierreServicio"
                contract="AperturaCierre.IAperturaCierreServicio" name="BasicHttpBinding_IAperturaCierreServicio" />
        </client>
    </system.serviceModel>
</configuration>
